* {
  box-sizing: border-box;
  /*говорит браузеру учитывать любые границы
	 и внутренние отступы в значениях,
	 которые вы указываете в ширине и высоте элемента.*/
  margin: 0;
  padding: 0;
  /*padding margin 0 , элементы сбрасывают свои значения 
	и можно изменять вручную*/
}
.background{
  min-height: 150px;
  margin:0 auto;
}
.background-header{
padding:40px 16px;

}

.header{
  position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    opacity: 0.9;
  margin-bottom: 125px;
}
nav {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  color:black;
  padding: 0 320px;
  margin-top:49px;
  margin-left:2px;
  display: flex;
  justify-content: space-around;
  
  
}
.main .main_header{
  margin-bottom: 48px;
	color:#4f4f4f;
  font-size:64px;
}
a {
  color: #3a322d;
  text-decoration: none;
}

a:first-child {
  color: #c25613;
  text-decoration: underline;
}
.maindovile{
  display: block;
  margin: auto;
}

.Acquaintance{
  margin-top: -155px;
  min-height: 625px;
  background-color:#fff5f5;
}
.main{
  position: relative;
  margin:0 auto;
  width:1224px;
  
}
.main .womandovile{
  position:absolute;
  left:636px;
  top:0px;
}
.main .main_text{
  margin-bottom: 50px;
  font-size:20px;
  color:#3a322d;
}
.main_btn .contact{
  
  height:50px;
  width:155px;
  color:white;
  background-color:grey;
  border-radius:4px;
  border:0;
}
.four{
  height:208px;
  margin:0 auto;
}
.four .fourname{
 margin: 0 auto;
  width:1244px;
  display:flex;
  justify-content: space-between;
}
.aboutIsDovile{
height:300px;
background-color:#fff5f5 ;
}
.bio{
  width:1244px;
  margin:0 auto;
}
.bio_header_text{
  text-align: center;
  font-size:56px;
  color:#454545;
}
.bio .bio_text{
  margin-top:18px;
  text-align: center;
  font-size: 18px;
}

.services{
  height:625px
}
.services_header{
  margin-bottom: 48px;
  margin-left: 670px;
  font-size:64px;
  color: #454545;
}
 .services_text{
  margin-bottom: 58px;
  margin-left: 670px; 
  font-size: 18px;
  color: #454545;
}

.services_button .read{
  margin-top: 80px;
  margin-left: 670px;
  height:50px;
  width:155px;
  color:white;
  background-color:grey;
  border-radius:4px;
  border:0;
  font-size: 16px;
}
.services_block{
  position:relative;
  margin:0 auto;
  width:1244px;
  height:625px;
  background-color: white;
}

.services_image{
  position: relative;
  top: -378px;
}

.ready{
  min-height: 912px;
  background-color:#fff5f5;
}
